
/*=== TEXTOS ===*/
.corpo { 
  font-style: normal; 
  font-family: Arial, Helvetica, sans-serif; 
  color: #181818; 
  background-color: #e3e3e3;
}

#rodape { font-size: 30px; }
#perfil-foto { font-size: 16px; line-height: 1.6; }
.botao { font-size: 16px; }

/*=== ALINHAMENTO ===*/
.conteudo { 
  display: flex; 
  align-items: flex-start; 
  justify-content: space-around; 
}

#bio-info { 
  display: flex; 
  text-align: center; 
}

#rodape { 
  display: flex; 
  flex-direction: column; 
}

#contatos { margin-left: 10px; }

/*=== TAMANHOS ===*/
#foto, #perfil-foto { width: 100px; height: 100px; }
#icone { width: 20px; height: 20px; }
#bio-info { height: 200px; width: 900px; }
.botao { width: 10px; height: 10px;}
.instagram { width: 200px; height: 50px; }

/*=== MARGENS ===*/
.conteudo { 
  margin-inline: 1%; 
  padding-bottom: 48px; 
  padding-top: 4px; 
  padding-block-end: 48px; 
}

#bio-info { margin-inline: 3px; }
.botao { margin-top: 15px; margin-left: 10%;padding: 5px; }
#rodape { margin: 2px; margin-inline: 9px; }

/*=== CORES ===*/
#rodape { background-color: #E9ECEF; }
.botao { background-color: #3f57af; color: #e3e3e3; }

/*=== BORDAS ===*/
.conteudo { border-radius: 1px; }
#foto { border-radius: 30%; }
#perfil-foto { border-radius: 100px; box-shadow: 0 1px 1px rgba(61, 1, 1, 0.3); }
.botao { border-radius: 5px; }

/*=== TRANSIÇÕES ===*/
.botao, .instagram { transition: background-color 0.3s ease; }

/*=== HOVER ===*/
.botao:hover { background-color: #2c2c2c; }
   