.body{
    color: #e3e3e3;
    background-color: #1e1f20 ;
    font-style: normal;
    font-family:Arial, Helvetica, sans-serif ;
    margin-top: 100px;
}
#foto{
    width: 200px;
    height: 200px;
    border-radius: 30%;
    
}
.contents{

    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-inline: 90px;
    padding-bottom: 48px;
    padding-top: 48px;
    padding-block-end: 48px;
    background-color: #0e0e0e ;
 
}
#c2{
    margin: 9px;
}
#b2{
    display: block;
    text-decoration: none;
    background-color: #3c3c3c;
    color: white;
    padding: 7px 10px;
    border-radius: 5px;
   
    font-size: 16px;
    transition: background-color 0.3s ease;
   
    width: 90px;
    height: 20px;
}

#div1{
    display: flex;
    text-align: center;    
    height: 200px;
    width: 400px;
    margin-inline: 30px;

}

#div2{
    font-size: 16px;
    margin-top: 10px;
    line-height: 1.6;
    height: 200px;
    width: 200px;
     border-radius: 10px;
    box-shadow: 0 1px 1px rgba(61, 1, 1, 0.3);
 
}
.botao {
    display: inline-block;
    text-decoration: none;
    background-color: #3c3c3c;
    color: white;
    padding: 7px 10px;
    border-radius: 5px;
    margin-top: 15px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    height: 20px;
    
    
    margin: 9px;
    
}


.botao:hover {
    background-color: #2c2c2c;
}
#b2:hover{
    background-color: #2c2c2c;
}
#footer{
    display: flex;
    flex-direction: column;
    margin: 2px;
    background-color: #171717;
  margin-inline: 90px;
    font-size: 30px;
}
#icon{
    width: 17px;

    
}
#opa{
    margin: 10px;
}
#instagram{
    transition: background-color 0.3s ease;
}

@media (max-width: 1024px) {
    .contents {
        margin-inline: 15%;
        flex-wrap: wrap;
        justify-content: center;
    }
    #footer{
    display: flex;
    flex-direction: column;
    
    

    margin: 2px;

    background-color: #171717;

    margin-inline: 15%;
    font-size: 30px;
}

}

@media (max-width: 768px) {
    .contents {
        flex-direction: column;
        align-items: center;
        margin-inline: 15%;
    }
    #div1{
    display: flex;
    text-align: center;    
    height: 150px;
    width: 100px;
    margin-inline: 10%;
    font-size: 70%;

}
}
